/*CSS for front page banner*/

.black-section {
    background-color: rgb(0, 0, 0);
    height: 575px;
    width: auto;
    position: relative;
}

.image {
    position: absolute;
    opacity: 0;
    width: 20%;
    height: 20%;
    object-fit: contain;
    /* or object-fit: contain; */
}

.black-section-over {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.522);
    height: 575px;
    position: relative;
    top: -575px;
    padding: 0px;
}


/*CSS for front page gradient text*/

:root {
    --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);
}

h1>.magic {
    animation: background-pan 3s linear infinite;
    background: linear-gradient( to right, var(--purple), var(--violet), var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.black-section-over-magic {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.522);
    height: 200px;
    position: relative;
    top: -890px;
    padding: 0;
    margin: 0;
}

.magicdiv {
    text-align: center;
    margin-top: -1140px;
    z-index: 1;
}


/*TRAILER CSS*/

#trailer {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 20px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
}

body:hover>#trailer {
    opacity: 1;
}


/*Text Formatting/Main CSS*/

body {
    background-color: rgb(232, 233, 236);
    display: grid;
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(131, 152, 191);
    font-family: "Rubik", sans-serif;
    font-size: clamp(2em, 20vw, 4em);
    font-weight: 400;
    padding: 20px;
    margin: 0;
}

p {
    color: rgb(131, 152, 191);
    font-family: "Rubik", sans-serif;
    font-size: clamp(2em, 1vw, 4em);
    font-weight: 100;
    padding: 20px;
    margin: 0;
    text-align: left
}


/*Positioning CSS*/

.h1-hello {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-top: -750px;
}

.langimageflex {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: left;
    margin-top: -750px;
}

.langimage {
    padding: 0;
    margin: 0;
    align-items: flex-end;
    width: 50%;
    height: 50%;
    object-fit: contain;
    /* or object-fit: contain; */
}